
@font-face {
    font-family: 'abelregular';
    src: url('abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('abel-regular-webfont.woff2') format('woff2'),
        url('fonts/abel-regular-webfont.woff') format('woff'),
        url('fonts/abel-regular-webfont.ttf') format('truetype'),
        url('abel-regular-webfont.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

h2 {
    font-size: 2em;
}
h3 {
    text-align: center;
    font-size: 1.5em;
}

.bracket {
    color: #e5ba79;
    font-size: 2.5em;
}

h1,
h2,
h3,
li,
figcaption,
button {
    text-transform: uppercase;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'abelregular';
    color: #e5ba79;
}

header img {
    width: 5em;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1em;
    padding-left: 0;
}

nav li {
    margin-left: 1.5em;
    margin-right: 1.5em;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition-duration: 0.4s;
    color: #e5ba79;
}

#banner img {
    width: 100%;
}

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em 0px;

}

.portfolio img {
    border-radius: 50%;
    width: auto;
}

.item {
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2em 1.2em;
}

.item p {
    margin-top: 1.2em;
}

section {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}

section article {
    align-items: center;
}

section h2 {
    text-align: center;
    margin-top: 2em;
}

article {
    display: flex;
    max-width: 900px;
    margin-top: 2em;
}

article img {
    width: 25%;
    min-width: 400px;
    margin-left: 2em;
    border-style: solid;
    border-width: 0px 0px 6px 6px;
    border-color: #e5ba79;
}

.text_article {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em;
}

button {
    font-size: 1.2em;
    background-color: white;
    border: 2px solid #e5ba79;
    transition-duration: 0.4s;
    width: fit-content;
    align-self: center;
    padding: 1em;
    font-weight: bold;
    color: #e5ba79;
    margin: 2em;
}

button:hover {
    background-color: #e5ba79;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    background-image: url(images/pattern_luxe.jpg);
}

fieldset {
    margin-top: 2em;
    margin-bottom: 2em;
    color: #F5F5F5;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cac9c9;
    height: 5em;
}


footer ul {

    display: flex;
    list-style-type: none;
    padding-left: 0;
}

footer li {
    margin-right: 2em;
}

@media screen and (max-width: 1010px) {
    article {
        display: flex;
        flex-direction: column;

    }

}